<div class="container text-center" *ngIf="character.imageUrl !== ''">

  <p class="skill-points">Skill points : {{character.skillPoints}}</p>
  <p class="level">Level : {{character.level}}</p>

  <div class="align-sp-management">
    <p>Health : </p>
    <p>{{character.health}}</p>
    <div class="mb-2">
      <mat-icon (click)="character.decrementHealth()" aria-hidden="false" aria-label="minus" class="mr-1 cursor">
        remove_circle
      </mat-icon>
      <mat-icon (click)="character.incrementHealth()" aria-hidden="false" aria-label="plus" class="cursor">add_circle
      </mat-icon>
    </div>
  </div>

  <div class="align-sp-management">
    <p>Attack : </p>
    <p>{{character.attack}}</p>
    <div class="mb-2">
      <mat-icon (click)="character.decrementAttack()" aria-hidden="false" aria-label="minus" class="mr-1 cursor">
        remove_circle
      </mat-icon>
      <mat-icon (click)="character.incrementAttack()" aria-hidden="false" aria-label="plus" class="cursor">add_circle
      </mat-icon>
    </div>
  </div>

  <div class="align-sp-management">
    <p>Defense : </p>
    <p>{{character.defense}}</p>
    <div class="mb-2">
      <mat-icon (click)="character.decrementDefense()" aria-hidden="false" aria-label="minus" class="mr-1 cursor">
        remove_circle
      </mat-icon>
      <mat-icon (click)="character.incrementDefense()" aria-hidden="false" aria-label="plus" class="cursor">add_circle
      </mat-icon>
    </div>
  </div>

  <div class="align-sp-management">
    <p>Magik : </p>
    <p>{{character.magik}}</p>
    <div class="mb-2">
      <mat-icon (click)="character.decrementMagik()" aria-hidden="false" aria-label="minus" class="mr-1 cursor">
        remove_circle
      </mat-icon>
      <mat-icon (click)="character.incrementMagik()" aria-hidden="false" aria-label="plus" class="cursor">add_circle
      </mat-icon>
    </div>
  </div>

  <div class="container mt-4">
    <button (click)="createCharacter()" mat-raised-button color="primary">Assign skill points</button>
    <p *ngIf="errorMessage">{{errorMessage}}</p>
  </div>

  <div>
    <button  (click)="fightTrigger()" [disabled]="character.hasBeenCreated" mat-raised-button color="warn"
            class="fight-button mt-4">
      <mat-icon class="mr-3">fitness_center</mat-icon>
      Let's fight
      <mat-icon class="ml-3">fitness_center</mat-icon>
    </button>
  </div>
</div>
